[Unit]
Description=Bluetooth Watchdog - restart AA on BT disconnect
After=bluetooth.service btservice.service openauto.service

[Service]
Type=simple
ExecStart=/home/pi/bt_watchdog.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
