[Unit]
Description=SCO Enhancer - mSBC wideband call audio via ofono
After=bluetooth.service ofono.service pulseaudio.service
Requires=ofono.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/sco_enhancer.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
